**/__pycache__/

1-Basyx-Communicator/debug/

1-Basyx-Communicator/file_list.json

1-Basyx-Communicator/test.json

.venv/

BlazorExplorer/

Festo_Demo_Box/

1-AAS-Explorer/BlazorExplorer.zip

Festo_Demo_Box.zip

config_credentials.json

google_master-thesis-475915-7f20314ddb42.json

2-twin2clouds/pricing/fetched_data/

deprecated/

.vscode/

**/generated.tfvars.json

**/*.tfvars.json
**/*.tfstate
**/*.tfstate.backup
**/.terraform
**/.terraform.lock.hcl
**/*.zip
