**/__pycache__/

1-Basyx-Communicator/debug/

1-Basyx-Communicator/file_list.json

1-Basyx-Communicator/test.json

.venv/

BlazorExplorer/

Festo_Demo_Box/

1-AAS-Explorer/BlazorExplorer.zip

Festo_Demo_Box.zip
