{
  "aws": {
    "aws_access_key_id": "XXXXXXXXXXXXXXXXXXXX",
    "aws_secret_access_key": "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX",
    "aws_session_token": "OPTIONAL_SESSION_TOKEN",
    "aws_region": "eu-central-1"
  },
  "gcp": {
    "gcp_project_id": "your-gcp-project-id",
    "gcp_credentials_file": "/path/to/your/gcp-credentials-file.json",
    "gcp_region": "europe-west1"
  },
  "azure": {
    "azure_subscription_id": "your-azure-subscription-id",
    "azure_client_id": "your-azure-client-id",
    "azure_client_secret": "your-azure-client-secret",
    "azure_tenant_id": "your-azure-tenant-id",
    "azure_region": "westeurope"
  }
}
