{
  "aws": {
    "aws_access_key_id": "XXXXXXXXXXXXXXXXXXXX",
    "aws_secret_access_key": "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX",
    "aws_region": "eu-central-1"
  },
  "gcp": {
    "gcp_project_id": "your-gcp-project-id",
    "gcp_credentials_file": "/path/to/your/gcp-credentials-file.json",
    "gcp_region": "europe-west1"
  },
  "azure": {
    "azure_subscription_id": "XXXXXXXXXXXXXXXXXXXX",
    "azure_client_id": "XXXXXXXXXXXXXXXXXXXX",
    "azure_client_secret": "XXXXXXXXXXXXXXXXXXXX",
    "azure_tenant_id": "XXXXXXXXXXXXXXXXXXXX",
    "azure_region": "italynorth",
    "azure_region_iothub": "westeurope",
    "azure_region_digital_twin": "westeurope",
    "azure_region_digital_twin": "francecentral"
  }
}
