fastapi
uvicorn
requests
boto3
colorlog
pytest
moto[server]
httpx
python-multipart

# Azure SDK packages
azure-functions
azure-cosmos
azure-storage-blob
azure-identity
azure-mgmt-resource
azure-mgmt-web
azure-mgmt-storage

# GCP SDK packages
functions-framework
google-cloud-firestore
google-cloud-storage
google-cloud-pubsub
