fastapi
uvicorn
requests
colorlog

# Testing packages
pytest
moto[server]
httpx
python-multipart

# AWS SDK packages
boto3

# Azure SDK packages
azure-functions
azure-cosmos
azure-storage-blob
azure-identity
azure-mgmt-resource
azure-mgmt-web
azure-mgmt-storage
azure-mgmt-msi
azure-mgmt-subscription

# Azure SDK packages for L1 (IoT/Data Acquisition)
azure-mgmt-iothub
azure-mgmt-eventgrid
azure-mgmt-authorization
azure-iot-hub
azure-iot-device

# Azure SDK packages for L2 (Data Processing)
azure-mgmt-logic

# Azure SDK packages for L3 (Storage)
azure-mgmt-cosmosdb

# Azure SDK packages for L4 (Digital Twins)
azure-mgmt-digitaltwins
azure-digitaltwins-core

# Azure SDK packages for L5 (Visualization)
azure-mgmt-dashboard

# GCP SDK packages
functions-framework
google-auth
google-cloud-firestore
google-cloud-storage
google-cloud-pubsub
google-cloud-resource-manager
google-cloud-service-usage
google-cloud-functions
google-cloud-run